.*
!.git?*
*~
*.a
*.diff
*.dll
*.exe
*.in
*.la
*.lo
*.o
*.obj
*.out
*.patch
*.pdb
*.swp
*.tmp
aclocal.m4
autoscan.log
autom4te.cache
config.log
config.status
configure
configure.scan
confdefs*
conftest*
conf[0-9]*
ffuzzy_config.h
libtool
Makefile
stamp-h1
tmp*

libffuzzy-*
